<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ static_url('assets/favicon192.png') }}">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- FontAwesome -->
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('node_modules/font-awesome/css/font-awesome.min.css') }}">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('node_modules/bootstrap-material-design/dist/css/ripples.min.css') }}">

    <!-- Dropdown.js -->
    <link href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet">

    <!-- Javascript modules -->
    <script type="text/javascript"
            src="{{ static_url('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/bootstrap-material-design/dist/js/material.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/bootstrap-material-design/dist/js/ripples.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/masonry-layout/dist/masonry.pkgd.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/smoothie/smoothie.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/vue/dist/vue.min.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r82/three.min.js"></script>
    <script src="{{ static_url('js/TeapotBufferGeometry.js') }}"></script>
</head>

<body>
<style type="text/css">
body.dark {
    background-color: #333;
}
body.dark .navbar.navbar-inverse {
    background-color: black;
}
body.dark .panel.panel-default>.panel-heading, body.dark .panel>.panel-heading {
    background-color: #ddd;
}
.panel-body + .panel-body {
    border-top: 1px solid #ddd;
}
.led-color {
    color: firebrick;
}
.li-text {
    padding: 5px;
}
.grid {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.grid-item {
    width: 400px;
    max-width: 100%;
    margin: 0 15px;
}
.grid-hidden {
    display: none;
}
img {
    max-width: 100%;
}
#webcam {
    overflow: hidden;
    position: relative;
    height: 300px;
    background-color: #999;
    /*background-image: url(/demo-cam/?action=stream), url(assets/ic_videocam_off.svg);*/
    background-image: url({{ camera_url }});
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#webcam .panel-heading {
    position: absolute;
    left:0;
    right: 0;
    /*background-color: rgba(0,0,0,0.2);*/
    /*mix-blend-mode: multiply;*/
    /*mix-blend-mode: difference;*/
    /*background-color: #222;*/
    background-color: transparent;
}
#webcam .panel-heading::before {
    content: "webcam";
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    /*background-color: rgba(0,0,0,0.2);*/
    /*mix-blend-mode: multiply;*/
    mix-blend-mode: difference;
    background-color: #222;
    color: #999;
    padding: inherit;
}

.panel-heading .btn-group {
    margin: 0;
}

.panel-heading .dropdown-menu {
    margin-top: 10px;
}
.menu-btn {
    padding: 0px 3px;
    border-radius: 100%;
}
.panel-body {
    position: relative;
    z-index: 1;
}
.panel-body.has-chart {
    min-height: 110px;
}
.chart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /*background-color: #333;*/
}
#teapot {
    height: 277px;
    width: 100%;
}
.btn-grid {
  display: table;
  border-spacing: 5px
}
.btn-row {
  display: table-row
}
.btn-cell {
  width: 50px;
  height: 50px;
  /*background: grey;*/
  display: table-cell;
}
</style>

<script>
var theme = localStorage.theme || 'dark';

if (theme == 'dark') {
    document.body.classList.add('dark')
}
</script>

<div id="app">
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" src="{{ static_url('assets/logo-large.png') }}" style="margin-top: -3px">
                <a class="navbar-brand" href="javascript:void(0)">RIOT Dashboard</a>
            </div>
            <div class="navbar-collapse collapse navbar-inverse-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{!nodes.length}} {{!nodes.length>=2 ? 'nodes' : 'node'}} monitored
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li v-for="(node, index) in nodes">
                                <a :href="'#node'+index">{{!node.ip}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://www.riot-os.org/">RIOT <i class="fa fa-external-link"></i></a></li>
                    <li><a data-toggle="modal" data-target="#settingsModal" href=""><i class="material-icons" style="line-height: inherit">settings</i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid"> -->
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item:not(.grid-hidden)", "fitWidth": "true" }'>
        <div class="grid-item">
            <!-- webcam -->
            <div class="panel panel-default" id="webcam">
                <div class="panel-heading">
                    <div class="pull-right">
                        <div class="btn-group">
                            <a href="" class="menu-btn btn btn-link dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-option-vertical text-muted" style="color: #333"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="li-text">
                                    <a href={{ camera_url }}>Live Camera</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item" v-for="(node, index) in nodes">
            <div class="panel panel-default" :id="'node'+index">
                <div class="panel-heading">
                    <span>{{!node.data.board}}</span>&nbsp;
                    <span v-if="node.data.mcu"><i>({{!node.data.mcu}})</i></span>
                    <div class="pull-right">
                        <div class="btn-group" style="margin-bottom: 0">
                            <a href="" class="menu-btn btn btn-link dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-option-vertical text-muted"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="li-text">{{!node.ip}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body has-chart" v-if="node.data.temperature">
                    <div class="h5 text-muted">Temperature</div>
                    <div class="h1">{{!node.data.temperature}}</div>
                    <canvas class="chart" :id="'temp_chart'+node.ip"></canvas>
                </div>
                <div class="panel-body has-chart" v-if="node.data.pressure">
                    <div class="h5 text-muted">Pressure</div>
                    <div class="h1">{{!node.data.pressure}}</div>
                    <canvas class="chart" :id="'pres_chart'+node.ip"></canvas>
                </div>
                <div class="panel-body" v-if="node.data.robot">
                    <div class="h5 text-muted">Buggybot</div>
                    <div class="h1">{{!node.data.robot}}</div>
                    <p><center>Direction Pad</center></p>
                    <div class="card card-block">
                        <center>
                            <div class="btn-grid">
                                <div class="btn-row">
                                    <div class="btn-cell"></div>
                                    <div class="btn-cell">
                                        <center><button type="button" class="robot-btn btn btn-success" :data-index="'f,'+node.ip">Forward</button></center>
                                    </div>
                                    <div class="btn-cell"></div>
                                </div>
                                <div class="btn-row">
                                    <div class="btn-cell">
                                        <center><button type="button" class="robot-btn btn btn-success" :data-index="'l,'+node.ip">Left</button></center>
                                    </div>
                                    <div class="btn-cell"></div>
                                    <div class="btn-cell">
                                        <center><button type="button" class="robot-btn btn btn-success" :data-index="'r,'+node.ip">Right</button></center>
                                    </div>
                                </div>
                                <div class="btn-row">
                                    <div class="btn-cell"></div>
                                    <div class="btn-cell">
                                        <center><button type="button" class="robot-btn btn btn-danger" :data-index="'s,'+node.ip">Stop</button></center>
                                    </div>
                                    <div class="btn-cell"></div>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
                <div class="panel-body" v-if="node.data.twitter">
                    <div class="h1">{{!node.data.twitter}}</div>
                </div>
                <div class="panel-body" v-if="node.data.webcam">
                    <img width="370" height="278" :src="node.data.webcam"></img>
                </div>
                <div class="panel-body has-chart" v-if="node.data.imu">
                    <div class="h5 text-muted">Accelerometer</div>
                    <canvas class="chart" :id="'imu_acc'+node.ip"></canvas>
                </div>
                <div class="panel-body has-chart" v-if="node.data.imu">
                    <div class="h5 text-muted">Gyroscope</div>
                    <canvas class="chart" :id="'imu_gyr'+node.ip"></canvas>
                </div>
              <!--   <div class="panel-body" v-if="node.data.imu">
                    <div id="teapot"></div>
                </div> -->
                <div class="panel-body" :id="'led'+index" v-if="['0','1'].includes(node.data.led)">
                    <div class="h5 text-muted">LED</div>
                    <div v-if="node.data.led === '1'" class="h1">ON <i class="fa fa-circle led-color"></i></div>
                    <div v-else class="h1">OFF <i class="fa fa-circle-thin led-color"></i></div>
                </div>
                <div class="panel-body" v-if="node.data.led">
                    <div class="togglebutton">
                        <label>
                            <input class="led-btn" type="checkbox" :data-index="node.ip" :checked="node.data.led === '1'">Toggle led
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="settingsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title">Settings</h2>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="margin: 0">
                        <label for="selectTheme" class="control-label">Theme</label>
                        <select id="selectTheme" class="form-control">
                            <option value="dark">Dark</option>
                            <option value="light">Light</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Dropdown.js -->
<script src="https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>
<script>
$("#settingsModal select").dropdown();
</script>

<script>
// Smoothie charts containers
var acc_charts = {}
var gyr_charts = {}
var temp_charts = {}
var pres_charts = {}
var teapot_charts = {}

var data = {nodes: []}
var vm = new Vue({
    el: '#app',
    data: data,
    methods: {
        humanizeURL: function (url) {
            return url
            .replace(/^https?:\/\//, '')
            .replace(/\/$/, '')
        }
    }
});
</script>

<script>
// initialize bootstrap material design
$.material.init()

var ws = new WebSocket('ws://{{ wsserver }}/ws')

ws.onopen = function() {
    console.log("WebSocket is ready")
}
ws.onmessage = function(event) {
    let msg = JSON.parse(event.data)
    receive_message(msg)
}
ws.onclose = function(ev){
    console.log("WebSocket closed")
    print_ws_close_reason(ev.code)
}
ws.onerror = function(ev){
    console.log("WebSocket error", ev)
}

function receive_message(msg) {
    let node = msg.node
    let index = vm.nodes.map(e => e.ip).indexOf(node)
    switch (msg.command) {
        case 'new':
            console.log("New node", node)
            vm.nodes.push({ip: node, data: {board:'New node'}})
            break
        case 'out':
            if (index != -1) {
                console.log("Removing node", node)
                vm.nodes.splice(index, 1)
            }
            remove_charts(node)
            break
        case 'update':
            if (index != -1) {
                let endpoint = msg.endpoint.replace(/^\//g, '') // remove leading slash
                console.log("Updating node", node, "with", endpoint)
                Vue.set(vm.nodes[index].data, endpoint, msg.data) // same as vm.nodes[index].data[endpoint] = msg.data, but triggers UI update

                // force material UI refresh
                $.material.init()

                Vue.nextTick(_ => update_charts(msg))
            }
            break
        default:
            console.log('Unknown command')
            break
    }
    Vue.nextTick(refresh_layout)
}

function update_charts(msg) {
    // imu charts management
    if (msg.endpoint === "/imu") {
        if (!(msg.node in acc_charts)) {
            setup_imu_charts(msg.node)
        }
        if (!(msg.node in teapot_charts)) {
            setup_teapot_charts(msg.node)
        }

        update_imu_charts(msg)
    }

    // temperature charts management
    if (msg.endpoint === "/temperature") {
        if (!(msg.node in temp_charts)) {
            setup_temp_charts(msg.node)
        }

        update_temp_charts(msg)
    }

    // pressure charts management
    if (msg.endpoint === "/pressure") {
        if (!(msg.node in pres_charts)) {
            setup_pres_charts(msg.node)
        }

        update_pres_charts(msg)
    }
}

function setup_temp_charts(node) {
    var temp_canva = document.getElementById('temp_chart' + node)
    temp_canva.setAttribute('width', temp_canva.clientWidth)
    temp_canva.setAttribute('height', temp_canva.clientHeight)
    if (temp_canva) {
        temp_charts[node] = [new SmoothieChart({ millisPerPixel:1000,
                                                 grid:{ strokeStyle: 'transparent',
                                                        fillStyle:'transparent',
                                                        borderVisible:false,
                                                        sharpLines:true },
                                                 minValue: -15,
                                                 maxValue: 40}),
                            new TimeSeries()]
        temp_charts[node][0].addTimeSeries(temp_charts[node][1],
                                           { strokeStyle: 'rgba(63, 167, 36, 1)',
                                             fillStyle: 'rgba(63, 167, 36, 0.2)',
                                             lineWidth: 1.5 });
        temp_charts[node][0].streamTo(temp_canva, 500);
    }
}

function update_temp_charts(msg) {
    temp_charts[msg.node][1].append(new Date().getTime(), msg.data.slice(0, -2));
}

function setup_pres_charts(node) {
    var pres_canva = document.getElementById('pres_chart' + node)
    pres_canva.setAttribute('width', pres_canva.clientWidth)
    pres_canva.setAttribute('height', pres_canva.clientHeight)
    if (pres_canva) {
        pres_charts[node] = [new SmoothieChart({ millisPerPixel:5000,
                                                 grid:{ strokeStyle: 'transparent',
                                                        fillStyle:'transparent',
                                                        borderVisible:false,
                                                        sharpLines:true },
                                                 minValue: 950,
                                                 maxValue: 1030}),
                            new TimeSeries()]
        pres_charts[node][0].addTimeSeries(pres_charts[node][1],
                                           { strokeStyle: 'rgba(63, 167, 36, 1)',
                                             fillStyle: 'rgba(63, 167, 36, 0.2)',
                                             lineWidth: 1.5 });
        pres_charts[node][0].streamTo(pres_canva, 500);
    }
}

function update_pres_charts(msg) {
    pres_charts[msg.node][1].append(new Date().getTime(), msg.data.slice(0, -3));
}

function setup_teapot_charts(node) {
    teapot_charts[node] = node
    teapot.init()
    teapot.render()
}

function setup_imu_charts(node) {
    var acc_canva = document.getElementById('imu_acc' + node)
    acc_canva.setAttribute('width', acc_canva.clientWidth)
    acc_canva.setAttribute('height', acc_canva.clientHeight)
    if (acc_canva) {
        acc_charts[node] = [new SmoothieChart({ grid:{ fillStyle:'transparent',
                                                       strokeStyle:'#eee',
                                                       borderVisible:false,
                                                       sharpLines:true },
                                                labels: { disabled: true },
                                                minValue: 0,
                                                maxValue: 5000}),
                            new TimeSeries()]
        acc_charts[node][0].addTimeSeries(acc_charts[node][1],
                                          { strokeStyle: 'rgba(63, 167, 36, 1)',
                                            fillStyle: 'rgba(63, 167, 36, 0.2)',
                                            lineWidth: 1.5 });
        acc_charts[node][0].streamTo(acc_canva, 500);
    }

    var gyr_canva = document.getElementById('imu_gyr' + node)
    gyr_canva.setAttribute('width', gyr_canva.clientWidth)
    gyr_canva.setAttribute('height', gyr_canva.clientHeight)
    if (acc_canva) {
        gyr_charts[node] = [new SmoothieChart({ grid:{ fillStyle:'transparent',
                                                       strokeStyle:'#eee',
                                                       borderVisible:false,
                                                       sharpLines:true },
                                                labels: {disabled: true},
                                                minValue: -800,
                                                maxValue: 800 }),
                            {'x': new TimeSeries(),
                             'y': new TimeSeries(),
                             'z': new TimeSeries()}]
        gyr_charts[node][0].addTimeSeries(gyr_charts[node][1]['x'],
                                          { strokeStyle: 'rgba(189, 32, 44, 1)',
                                            fillStyle: 'rgba(189, 32, 44, 0.1)',
                                            lineWidth: 1.5 });
        gyr_charts[node][0].addTimeSeries(gyr_charts[node][1]['y'],
                                          { strokeStyle: 'rgba(63, 167, 36, 1)',
                                            fillStyle: 'rgba(63, 167, 36, 0.1)',
                                            lineWidth: 1.5 });
        gyr_charts[node][0].addTimeSeries(gyr_charts[node][1]['z'],
                                          { strokeStyle: 'rgba(3, 169, 244, 1)',
                                            fillStyle: 'rgba(3, 169, 244, 0.1)',
                                            lineWidth: 1.5 });
        gyr_charts[node][0].streamTo(gyr_canva, 500);
    }
}

function update_imu_charts(msg) {
    var data = JSON.parse(msg.data)
    var acc = Math.sqrt(Math.pow(data[0].values[0], 2) +
                        Math.pow(data[0].values[1], 2) +
                        Math.pow(data[0].values[2], 2))
    acc_charts[msg.node][1].append(new Date().getTime(), acc);
    var gyr = data[2].values
    gyr_charts[msg.node][1]['x'].append(new Date().getTime(), data[2].values[0]);
    gyr_charts[msg.node][1]['y'].append(new Date().getTime(), data[2].values[1]);
    gyr_charts[msg.node][1]['z'].append(new Date().getTime(), data[2].values[2]);
}

function remove_charts(node) {
    if (node in acc_charsts) {
        delete acc_charts[node]
    }
    if (node in gyr_charts) {
        delete gyr_charts[node]
    }
    if (node in temp_charts) {
        delete temp_charts[node]
    }
    if (node in pres_charts) {
        delete pres_charts[node]
    }
}

function refresh_layout() {
    /* update masonry layout */
    var grid = document.querySelector('.grid');
    var msnry = new Masonry( grid, {
        itemSelector: '.grid-item:not(.grid-hidden)',
        fitWidth: true
    });
    msnry.layout()
}

function sendSwitchLed(node, state) {
    $.post('/post',
            JSON.stringify({"node": node,
                            "path" : "/led",
                            "payload": state }),
            function(data) {
                console.log("LED switched to state", state, "on node", node)
            });
}

$(document).on('change', '.led-btn', function() {
    var node = this.dataset.index
    if($(this).is(':checked')) {
        sendSwitchLed(node, "1")
    }
    else {
        sendSwitchLed(node, "0")
    }
})

function sendRobotDirection(robot, direction) {
    $.post('/post',
            JSON.stringify({"node": robot,
                            "path": "/robot",
                            "payload": direction }),
            function(data) {
                console.log("Direction change to", direction, "on robot", node)
            });
}

$(document).on('click', '.robot-btn', function() {
    var data = this.dataset.index.split(',')
    var direction = data[0]
    var node = data[1]

    sendRobotDirection(node, direction)
})

$('#selectTheme').change(function () {
    if ($(this).val() == 'dark') {
        $('body').addClass('dark')
    } else {
        $('body').removeClass('dark')
    }
})

$('#settingsModal').on('hide.bs.modal', function (e) {
    localStorage.setItem('theme', $('#selectTheme').val())
});

function print_ws_close_reason(code) {
    var reason;
    // See http://tools.ietf.org/html/rfc6455#section-7.4.1
    switch(code) {
    case 1000:
        reason = "Normal closure, meaning that the purpose for which the\
                  connection was established has been fulfilled.";
        break
    case 1001:
        reason = "An endpoint is \"going away\", such as a server going down\
                  or a browser having navigated away from a page.";
        break
    case 1002:
        reason = "An endpoint is terminating the connection due to a protocol\
                  error";
        break
    case 1003:
        reason = "An endpoint is terminating the connection because it has\
                  received a type of data it cannot accept (e.g., an endpoint\
                  that understands only text data MAY send this if it receives\
                  a binary message).";
        break
    case 1004:
        reason = "Reserved. The specific meaning might be defined in the\
                  future.";
        break
    case 1005:
        reason = "No status code was actually present.";
        break
    case 1006:
       reason = "The connection was closed abnormally, e.g., without sending\
                 or receiving a Close control frame";
        break
    case 1007:
        reason = "An endpoint is terminating the connection because it has\
                  received data within a message that was not consistent with\
                  the type of the message (e.g., non-UTF-8\
                  [http://tools.ietf.org/html/rfc3629] data within a text\
                  message).";
        break
    case 1008:
        reason = "An endpoint is terminating the connection because it has\
                  received a message that \"violates its policy\". This\
                  reason is given either if there is no other sutible\
                  reason, or if there is a need to hide specific details\
                  about the policy.";
        break
    case 1009:
       reason = "An endpoint is terminating the connection because it has\
                 received a message that is too big for it to process.";
        break
    case 1010:
        // Note that this status code is not used by the server,
        // because it can fail the WebSocket handshake instead.
        reason = "An endpoint (client) is terminating the connection because\
                  it has expected the server to negotiate one or more\
                  extension, but the server didn't return them in the\
                  response message of the WebSocket handshake. <br/>\
                  Specifically, the extensions that are needed\
                  are: " + event.reason;
        break
    case 1011:
        reason = "A server is terminating the connection because it\
                  encountered an unexpected condition that prevented it\
                  from fulfilling the request.";
        break
    case 1015:
        reason = "The connection was closed due to a failure to perform a\
                  TLS handshake (e.g., the server certificate can't be\
                  verified).";
        break
    default:
        reason = "Unknown reason";
    }
    console.log("Code: ", code, "\nReason:", reason)
}
</script>
<script src="{{ static_url('js/teapot.js') }}"></script>
</body>
</html>
