[Unit]
Description=Pyaiot Dashboard Application
After=network.target radvd.service

[Service]
User=pi
Environment='STATIC_PATH=' \
        'HTTP_PORT=8080' \
        'BROKER_PORT=8082' \
        'BROKER_HOST=localhost' \
        'APP_TITLE=' \
        'APP_LOGO=' \
        'APP_FAVICON=' \
        'CAMERA_URL='

ExecStart=/usr/local/bin/aiot-dashboard \
        --static-path=${STATIC_PATH} \
        --web-port=${HTTP_PORT} \
        --broker-port=${BROKER_PORT} \
        --broker-host=${BROKER_HOST} \
        "--title=${APP_TITLE}" \
        --logo=${APP_LOGO} \
        --favicon=${APP_FAVICON} \
        --camera-url=${CAMERA_URL}

[Install]
WantedBy=multi-user.target
Alias=aiot-dashboard.service
