[Unit]
Description=Pyaiot Broker Application
After=network.target radvd.service

[Service]
User=pi
Environment='BROKER_PORT=8082'
ExecStart=/usr/local/bin/aiot-broker --port=${BROKER_PORT}

[Install]
WantedBy=multi-user.target
Alias=aiot-broker.service
