[Unit]
Description=Pyaiot Websocket gateway service
After=network.target radvd.service

[Service]
User=pi
Environment='BROKER_HOST=localhost' \
            'BROKER_PORT=8082' \
            'GATEWAY_PORT=8083'

ExecStart=/usr/local/bin/aiot-ws-gateway \
            --broker-host=${BROKER_HOST} \
            --broker-port=${BROKER_PORT} \
            --gateway-port=${GATEWAY_PORT}

[Install]
WantedBy=multi-user.target
Alias=aiot-ws-gateway.service
