[Unit]
Description=IoT Dashboard Application (RIOT version)
After=network.target radvd.service

[Service]
User=pi
ExecStart=/usr/bin/python3 /home/pi/demos/dashboard/dashboard.py --port=8080 --broker-port=80 \
        --broker-host=riot-demo.inria.fr "--title=RIOT Demo Dashboard" \
        --logo=/static/assets/logo-riot.png --favicon=/static/assets/favicon192.png

[Install]
WantedBy=multi-user.target
Alias=iot-dashboard.service
