[Unit]
Description=IoT Broker Application
After=network.target radvd.service

[Service]
User=pi
ExecStart=/home/pi/demos/bin/iot-broker --port=8082

[Install]
WantedBy=multi-user.target
Alias=iot-broker.service
