[Unit]
Description=Riot Dashboard Application
After=network.target radvd.service

[Service]
User=pi
ExecStart=/usr/bin/python3 /home/pi/demos/dashboard/dashboard.py --port=8080 --broker-port=80 --broker-host=riot-demo.inria.fr

[Install]
WantedBy=multi-user.target
Alias=riot-broker.service
