[Unit]
Description=Riot Broker Application
After=network.target radvd.service

[Service]
User=pi
ExecStart=/usr/bin/python3 /home/pi/demos/broker/broker.py --port=8083

[Install]
WantedBy=multi-user.target
Alias=riot-broker.service
