[Unit]
Description=Riot Dashboard Application
After=riot-broker.service

[Service]
User=pi
WorkingDirectory=/home/pi/demos/dashboard/
ExecStart=/usr/bin/node /home/pi/demos/dashboard/dashboard.js

[Install]
WantedBy=multi-user.target
Alias=riot-dashboard.service
