<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if favicon %}<link rel="icon" href="{{ favicon }}">{% end %}
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- FontAwesome -->
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('node_modules/font-awesome/css/font-awesome.min.css') }}">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('node_modules/bootstrap-material-design/dist/css/ripples.min.css') }}">

    <!-- Dropdown.js -->
    <link href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet">

    <!-- Javascript modules -->
    <script type="text/javascript"
            src="{{ static_url('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/bootstrap-material-design/dist/js/material.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/bootstrap-material-design/dist/js/ripples.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/masonry-layout/dist/masonry.pkgd.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/smoothie/smoothie.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/vue/dist/vue.min.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r82/three.min.js"></script>
    <script src="{{ static_url('js/TeapotBufferGeometry.js') }}"></script>
</head>

<body>
<style type="text/css">
body.dark {
    background-color: #333;
}
body.dark .navbar.navbar-inverse {
    background-color: black;
}
body.dark .panel.panel-default>.panel-heading, body.dark .panel>.panel-heading {
    background-color: #ddd;
}
body.dark .panel.panel-default:target>.panel-heading, body.dark .panel:target>.panel-heading {
    background-color: powderblue;
}
.panel-body + .panel-body {
    border-top: 1px solid #ddd;
}
.led-color {
    color: firebrick;
}
.li-text {
    padding: 5px;
}
.grid {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.grid-item {
    width: 400px;
    max-width: 100%;
    margin: 0 15px;
}
.grid-hidden {
    display: none;
}
img {
    max-width: 100%;
}
#webcam {
    overflow: hidden;
    position: relative;
    height: 300px;
    background-color: #999;
    /*background-image: url(/demo-cam/?action=stream), url(assets/ic_videocam_off.svg);*/
    background-image: url({{ camera_url }});
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#webcam .panel-heading {
    position: absolute;
    left:0;
    right: 0;
    /*background-color: rgba(0,0,0,0.2);*/
    /*mix-blend-mode: multiply;*/
    /*mix-blend-mode: difference;*/
    /*background-color: #222;*/
    background-color: transparent;
}
#webcam .panel-heading::before {
    content: "webcam";
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    /*background-color: rgba(0,0,0,0.2);*/
    /*mix-blend-mode: multiply;*/
    mix-blend-mode: difference;
    background-color: #222;
    color: #999;
    padding: inherit;
}

.panel-heading .btn-group {
    margin: 0;
}

.panel-heading .dropdown-menu {
    margin-top: 10px;
}
.menu-btn {
    padding: 1px 3px 0px 4px;
    border-radius: 4px;
}
.panel-body {
    position: relative;
    z-index: 1;
}
.panel-body.has-chart {
    min-height: 110px;
}
.chart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /*background-color: #333;*/
}
#teapot {
    height: 277px;
    width: 100%;
}
.btn-grid {
  display: table;
  border-spacing: 5px
}
.btn-row {
  display: table-row
}
.btn-cell {
  width: 50px;
  height: 50px;
  /*background: grey;*/
  display: table-cell;
}
.pointer:hover {
    cursor: pointer;
}

.node-icon {
    max-height: 20px;
    margin-left: -5px;
    margin-right: 5px;
}

.inline-table td, .inline-table th{
    border: 8px solid transparent;
    padding: 0 2px;
}
.inline-table th{
    font-weight: normal;
    color: #777;
}

/* BUGGYBOT DIRECTION PAD */

svg.pad {
    width: 74%;
    margin-left: 13%;
}
svg.pad path, svg.pad rect {
    cursor: pointer;
    fill-opacity: 0.1;
    stroke-width: 3;
}
svg.pad path:hover, svg.pad rect:hover {
    fill-opacity: 0.5;
}

/* JOYSTICK */

.joystick {
    width: 200px;
    height: 200px;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url({{ static_url( 'assets/joystick.svg' ) }});
}
.joystick .ball {
    /*border: 1px solid black;*/
    /*background-color: #ccc;*/
    /*background-color: #222;*/
    /*box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.68);*/
    background: radial-gradient(ellipse at center, rgb(76,76,76) 0%, rgb(89,89,89) 23%, rgb(102,102,102) 47%, rgb(71,71,71) 64%, rgb(1,1,1) 76%, rgb(0,0,0) 100%);
    width: 37%;
    height: 37%;
    border-radius: 100%;
    pointer-events: none;
    transition: transform 0.08s;
}

</style>

<script>
var theme = localStorage.theme || 'dark';

if (theme == 'dark') {
    document.body.classList.add('dark')
}


var joystick = {
    center: {
        x: 100, // joystick.getClientRects()[0].width / 2
        y: 100  // joystick.getClientRects()[0].height / 2
    },
    active: false,
    timer: null,
    interval: 250, // in milliseconds
}

joystick.start = function(node, event) {
    joystick.active = true;
    joystick.active_node = node;
    joystick.move(event);
    joystick.send();
    joystick.timer = window.setInterval(joystick.send, joystick.interval);
}

joystick.send = function() {
    var payload = `${joystick.dx}:${joystick.dy}:${joystick.dx+joystick.dy}\n`;
    sendData({"node": joystick.active_node, path: "/ribot", "payload": payload});
}

joystick.move = function(event) {
    var offsetX, offsetY;
    if (!joystick.active) return;

    if (event.touches) {
        var target = event.target.getBoundingClientRect();
        offsetX = event.touches[0].clientX - target.left;
        offsetY = event.touches[0].clientY - target.top;
    } else {
        offsetX = event.offsetX;
        offsetY = event.offsetY;
    }

    // normalize
    var deltaMax = Math.min(joystick.center.x, joystick.center.y) * 0.5;
    var deltaX = offsetX - joystick.center.x;
    var deltaY = offsetY - joystick.center.y;
    var delta = Math.sqrt(deltaX*deltaX + deltaY*deltaY);
    if (delta > deltaMax) {
        deltaX *= deltaMax / delta;
        deltaY *= deltaMax / delta;
    }

    joystick.dx = Math.round(deltaX * 255 / deltaMax) * -1
    joystick.dy = Math.round(deltaY * 255 / deltaMax)
    $('.ball').css('transform', `translate(${deltaX}px,${deltaY}px)`);
}

joystick.stop = function() {
    if (joystick.active) {
        joystick.active = false;
        joystick.dx = joystick.dy = 0;
        $('.ball').css('transform', `translate(0,0)`);
        window.clearInterval(joystick.timer);
        joystick.send()
    }
}

</script>

<div id="app" @mouseup="joystick.stop" @touchend="joystick.stop">
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if logo_url %}<img class="navbar-brand" src="{{ logo_url }}" style="margin-top: -3px">{% end %}
                <a class="navbar-brand" href="javascript:void(0)">{{ title }}</a>
            </div>
            <div class="navbar-collapse collapse navbar-inverse-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{! nodes.length }} {{! nodes.length>=2 ? 'nodes' : 'node' }} monitored
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li v-for="(node, index) in nodes">
                                <a :href="'#node'+index">
                                    <div class="checkbox" style="display: inline; margin-right: 5px;" @click.stop @change="Vue.nextTick(refresh_layout)">
                                        <label>
                                            <input type="checkbox" v-model="node.visible"> 
                                        </label>
                                    </div> 
                                    {{! node.displayName() }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="modal" data-target="#settingsModal" href=""><i class="material-icons" style="line-height: inherit">settings</i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid"> -->
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item:not(.grid-hidden)", "fitWidth": "true" }'>
        <div class="grid-item">
            {% if camera_url %}
            <!-- webcam -->
            <div class="panel panel-default" id="webcam">
                <div class="panel-heading">
                    <div class="pull-right">
                        <div class="btn-group">
                            <a href="" class="menu-btn btn btn-link dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-option-vertical text-muted" style="color: #333"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="li-text">
                                    <a href="{{ camera_url }}">Live Camera</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% end %}
        </div>
        <div class="grid-item" v-for="(node, index) in nodes" v-show="node.visible">
            <div class="panel panel-default" :id="'node'+index">
                <div class="panel-heading">
                    <img class="node-icon" src="{{ static_url( 'assets/favicon192.png' ) }}" v-if="node.data.os == 'riot'">
                    {{! node.displayName() }}
                    <div class="pull-right">
                        <div class="btn-group" style="margin-bottom: 0">
                            <a href="" class="menu-btn btn btn-link dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-option-vertical text-muted"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <table class="inline-table">
                                    <tr v-if="node.data.os">
                                        <th>OS</th>
                                        <td>{{! node.data.os }}</td>
                                    </tr>
                                    <tr v-if="node.data.board">
                                        <th>Board</th>
                                        <td>{{! node.data.board }}</td>
                                    </tr>
                                    <tr v-if="node.data.mcu">
                                        <th>MCU</th>
                                        <td>{{! node.data.mcu }}</td>
                                    </tr>
                                    <tr>
                                        <th>IP</th>
                                        <td>{{! node.ip }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body has-chart" v-if="node.data.temperature">
                    <div class="h5 text-muted">Temperature</div>
                    <div class="h1">{{!node.data.temperature}}</div>
                    <canvas class="chart" :id="'temp_chart'+node.ip"></canvas>
                </div>
                <div class="panel-body has-chart" v-if="node.data.pressure">
                    <div class="h5 text-muted">Pressure</div>
                    <div class="h1">{{!node.data.pressure}}</div>
                    <canvas class="chart" :id="'pres_chart'+node.ip"></canvas>
                </div>
                <div class="panel-body has-chart" v-if="node.data.humidity">
                    <div class="h5 text-muted">Relative humidity</div>
                    <div class="h1">{{!node.data.humidity}}</div>
                    <canvas class="chart" :id="'hum_chart'+node.ip"></canvas>
                </div>
                <div class="panel-body has-chart" v-if="node.data.illuminance">
                    <div class="h5 text-muted">Illuminance</div>
                    <div class="h1">{{!node.data.illuminance}}</div>
                </div>
                <div class="panel-body" v-if="node.data.robot">
                    <div class="h5 text-muted">BuggyBot Direction Pad</div>
                    <!-- <div class="h1">{{!node.data.robot}}</div> -->
                    <svg class="pad" width="370" viewBox="0 0 400 270" xmlns="http://www.w3.org/2000/svg">
                        <text text-anchor="middle" font-family="Helvetica, Arial, sans-serif" font-size="30" y="211" x="200" fill="firebrick">STOP</text>
                        <rect height="100" width="100" y="150" x="150" stroke="firebrick" fill="#f00" @click="setRobotDirection(node.ip, 's')"/>
                        <path d="m100,150l0,100l-75,-50z" stroke="rgb(0,150,136)" fill="rgb(0,150,136)" @click="setRobotDirection(node.ip, 'l')"/>
                        <path d="m300,150l0,100l75,-50z" stroke="rgb(0,150,136)" fill="rgb(0,150,136)" @click="setRobotDirection(node.ip, 'r')"/>
                        <path d="m150,100l100,0l-50,-75z" stroke="rgb(0,150,136)" fill="rgb(0,150,136)" @click="setRobotDirection(node.ip, 'u')"/>
                    </svg>
                </div>
                <div class="panel-body" v-if="node.data.ribot">
                    <div class="joystick" @mousemove.prevent="joystick.move" @touchmove.prevent="joystick.move" @mousedown.prevent="joystick.start(node.ip, $event)" @touchstart.prevent="joystick.start(node.ip, $event)">
                        <div class="ball"></div>
                    </div>
                </div>
                <div class="panel-body" v-if="node.data.twitter">
                    <div class="h1">{{!node.data.twitter}}</div>
                </div>
                <div class="panel-body" v-if="node.data.webcam">
                    <img width="370" height="278" :src="node.data.webcam"></img>
                </div>
                <div class="panel-body has-chart" v-if="node.data.imu">
                    <div class="h5 text-muted">Accelerometer</div>
                    <canvas class="chart" :id="'imu_acc'+node.ip"></canvas>
                </div>
                <div class="panel-body has-chart" v-if="node.data.imu">
                    <div class="h5 text-muted">Gyroscope</div>
                    <canvas class="chart" :id="'imu_gyr'+node.ip"></canvas>
                </div>
                <div class="panel-body" v-if="node.data.imu">
                    <div id="teapot"></div>
                </div>
                <div class="panel-body" :id="'led'+index" v-if="['0','1'].includes(node.data.led)">
                    <div class="h5 text-muted">LED</div>
                    <div v-if="node.data.led === '1'" class="h1">ON <i class="fa fa-circle led-color"></i></div>
                    <div v-else class="h1">OFF <i class="fa fa-circle-thin led-color"></i></div>
                </div>
                <div class="panel-body" v-if="node.data.led">
                    <div class="togglebutton">
                        <label>
                            <input class="led-btn" type="checkbox" :data-index="node.ip" :checked="node.data.led === '1'">Toggle led
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="settingsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title">Settings</h2>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="margin: 0">
                        <label for="selectTheme" class="control-label">Theme</label>
                        <select id="selectTheme" class="form-control">
                            <option value="dark">Dark</option>
                            <option value="light">Light</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Dropdown.js -->
<script src="https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>
<script>
$("#settingsModal select").dropdown();
</script>

<script>
// Smoothie charts containers
var acc_charts = {}
var gyr_charts = {}
var temp_charts = {}
var pres_charts = {}
var hum_charts = {}
var teapot_charts = {}

var data = {nodes: []}
var vm = new Vue({
    el: '#app',
    data: data,
    methods: {
        humanizeURL: function (url) {
            return url
            .replace(/^https?:\/\//, '')
            .replace(/\/$/, '')
        }
    }
});
</script>

<script>
// initialize bootstrap material design
$.material.init()

var ws = new WebSocket('ws://{{ wsserver }}/ws')

ws.onopen = function() {
    console.log("WebSocket is ready")
}
ws.onmessage = function(event) {
    let msg = JSON.parse(event.data)
    receive_message(msg)
}
ws.onclose = function(ev){
    console.log("WebSocket closed")
    print_ws_close_reason(ev.code)
}
ws.onerror = function(ev){
    console.log("WebSocket error", ev)
}

function Node(ip, data={}) {
    this.ip = ip
    this.data = data
    this.visible = true

    this.displayName = function() {
        // show temporary name while waiting for the node data
        if (Object.keys(this.data).length === 0)
            return 'Discovering node...'

        return this.data.name || 'Node'
    }
}

function receive_message(msg) {
    let node = msg.node
    let index = vm.nodes.map(e => e.ip).indexOf(node)
    switch (msg.command) {
        case 'new':
            console.log("New node", node)
            vm.nodes.push(new Node(node))
            break
        case 'out':
            if (index != -1) {
                console.log("Removing node", node)
                vm.nodes.splice(index, 1)
            }
            remove_charts(node)
            break
        case 'update':
            if (index != -1) {
                let endpoint = msg.endpoint.replace(/^\//g, '') // remove leading slash

                console.log("Updating node", node, "with", endpoint)
                Vue.set(vm.nodes[index].data, endpoint, msg.data) // same as vm.nodes[index].data[endpoint] = msg.data, but triggers UI update

                // force material UI refresh
                $.material.init()

                Vue.nextTick(_ => update_charts(msg))
            }
            break
        default:
            console.log('Unknown command')
            break
    }
    Vue.nextTick(refresh_layout)
}

function update_charts(msg) {
    // imu charts management
    if (msg.endpoint === "/imu") {
        if (!(msg.node in acc_charts)) {
            setup_imu_charts(msg.node)
        }
        if (!(msg.node in teapot_charts)) {
            setup_teapot_charts(msg.node)
        }

        update_imu_charts(msg)
    }

    // temperature charts management
    if (msg.endpoint === "/temperature") {
        if (!(msg.node in temp_charts)) {
            setup_temp_charts(msg.node)
        }

        update_temp_charts(msg)
    }

    // pressure charts management
    if (msg.endpoint === "/pressure") {
        if (!(msg.node in pres_charts)) {
            setup_pres_charts(msg.node)
        }

        update_pres_charts(msg)
    }

    // humidity charts management
    if (msg.endpoint === "/humidity") {
        if (!(msg.node in hum_charts)) {
            setup_hum_charts(msg.node)
        }

        update_hum_charts(msg)
    }
}

function setup_temp_charts(node) {
    var temp_canva = document.getElementById('temp_chart' + node)
    temp_canva.setAttribute('width', temp_canva.clientWidth)
    temp_canva.setAttribute('height', temp_canva.clientHeight)
    if (temp_canva) {
        temp_charts[node] = [new SmoothieChart({ millisPerPixel:1000,
                                                 labels:{ fillStyle:'#545454',
                                                          precision:0},
                                                 grid:{ strokeStyle: 'transparent',
                                                        fillStyle:'transparent',
                                                        borderVisible:false,
                                                        sharpLines:true },
                                                 minValue: -15,
                                                 maxValue: 40}),
                            new TimeSeries()]
        temp_charts[node][0].addTimeSeries(temp_charts[node][1],
                                           { strokeStyle: 'rgba(63, 167, 36, 1)',
                                             fillStyle: 'rgba(63, 167, 36, 0.2)',
                                             lineWidth: 1.5 });
        temp_charts[node][0].streamTo(temp_canva, 500);
    }
}

function update_temp_charts(msg) {
    temp_charts[msg.node][1].append(new Date().getTime(), msg.data.slice(0, -2));
}

function setup_pres_charts(node) {
    var pres_canva = document.getElementById('pres_chart' + node)
    pres_canva.setAttribute('width', pres_canva.clientWidth)
    pres_canva.setAttribute('height', pres_canva.clientHeight)
    if (pres_canva) {
        pres_charts[node] = [new SmoothieChart({ millisPerPixel:5000,
                                                 labels:{ fillStyle:'#545454',
                                                          precision:0},
                                                 grid:{ strokeStyle: 'transparent',
                                                        fillStyle:'transparent',
                                                        borderVisible:false,
                                                        sharpLines:true },
                                                 minValue: 950,
                                                 maxValue: 1030}),
                            new TimeSeries()]
        pres_charts[node][0].addTimeSeries(pres_charts[node][1],
                                           { strokeStyle: 'rgba(63, 167, 36, 1)',
                                             fillStyle: 'rgba(63, 167, 36, 0.2)',
                                             lineWidth: 1.5 });
        pres_charts[node][0].streamTo(pres_canva, 500);
    }
}

function update_pres_charts(msg) {
    pres_charts[msg.node][1].append(new Date().getTime(), msg.data.slice(0, -3));
}

function setup_hum_charts(node) {
    var hum_canva = document.getElementById('hum_chart' + node)
    hum_canva.setAttribute('width', hum_canva.clientWidth)
    hum_canva.setAttribute('height', hum_canva.clientHeight)
    if (hum_canva) {
        hum_charts[node] = [new SmoothieChart({ millisPerPixel:5000,
                                                labels:{ fillStyle:'#545454',
                                                         precision:0},
                                                grid:{ strokeStyle: 'transparent',
                                                       fillStyle:'transparent',
                                                       borderVisible:false,
                                                       sharpLines:true },
                                                minValue: 0,
                                                maxValue: 100}),
                            new TimeSeries()]
        hum_charts[node][0].addTimeSeries(hum_charts[node][1],
                                          { strokeStyle: 'rgba(0, 142, 255, 1)',
                                            fillStyle: 'rgba(0, 142, 255, 0.2)',
                                            lineWidth: 1.5 });
        hum_charts[node][0].streamTo(hum_canva, 500);
    }
}

function update_hum_charts(msg) {
    hum_charts[msg.node][1].append(new Date().getTime(), msg.data.slice(0, -3));
}

function setup_teapot_charts(node) {
    teapot_charts[node] = node
    teapot.init()
    teapot.render()
    $('#teapot').addClass('pointer').click(function() {
        angle = [0, 0, 0]
        teapot.setAngle(angle)
    })
}

function setup_imu_charts(node) {
    var acc_canva = document.getElementById('imu_acc' + node)
    acc_canva.setAttribute('width', acc_canva.clientWidth)
    acc_canva.setAttribute('height', acc_canva.clientHeight)
    if (acc_canva) {
        acc_charts[node] = [new SmoothieChart({ grid:{ fillStyle:'transparent',
                                                       strokeStyle:'#eee',
                                                       borderVisible:false,
                                                       sharpLines:true },
                                                labels: { disabled: true },
                                                minValue: 0,
                                                maxValue: 5000}),
                            new TimeSeries()]
        acc_charts[node][0].addTimeSeries(acc_charts[node][1],
                                          { strokeStyle: 'rgba(63, 167, 36, 1)',
                                            fillStyle: 'rgba(63, 167, 36, 0.2)',
                                            lineWidth: 1.5 });
        acc_charts[node][0].streamTo(acc_canva, 500);
    }

    var gyr_canva = document.getElementById('imu_gyr' + node)
    gyr_canva.setAttribute('width', gyr_canva.clientWidth)
    gyr_canva.setAttribute('height', gyr_canva.clientHeight)
    if (acc_canva) {
        gyr_charts[node] = [new SmoothieChart({ grid:{ fillStyle:'transparent',
                                                       strokeStyle:'#eee',
                                                       borderVisible:false,
                                                       sharpLines:true },
                                                labels: {disabled: true},
                                                minValue: -800,
                                                maxValue: 800 }),
                            {'x': new TimeSeries(),
                             'y': new TimeSeries(),
                             'z': new TimeSeries()}]
        gyr_charts[node][0].addTimeSeries(gyr_charts[node][1]['x'],
                                          { strokeStyle: 'rgba(189, 32, 44, 1)',
                                            fillStyle: 'rgba(189, 32, 44, 0.1)',
                                            lineWidth: 1.5 });
        gyr_charts[node][0].addTimeSeries(gyr_charts[node][1]['y'],
                                          { strokeStyle: 'rgba(63, 167, 36, 1)',
                                            fillStyle: 'rgba(63, 167, 36, 0.1)',
                                            lineWidth: 1.5 });
        gyr_charts[node][0].addTimeSeries(gyr_charts[node][1]['z'],
                                          { strokeStyle: 'rgba(3, 169, 244, 1)',
                                            fillStyle: 'rgba(3, 169, 244, 0.1)',
                                            lineWidth: 1.5 });
        gyr_charts[node][0].streamTo(gyr_canva, 500);
    }
}

var angle = [0, 0, 0]
var lastTime = new Date().getTime()

function update_imu_charts(msg) {
    var currentTime = new Date().getTime()
    var data = JSON.parse(msg.data)
    var acc = data[0].values
    var gyr = data[2].values
    var accNorm = Math.sqrt(Math.pow(acc[0], 2) +
                            Math.pow(acc[1], 2) +
                            Math.pow(acc[2], 2))
    acc_charts[msg.node][1].append(currentTime, accNorm);
    gyr_charts[msg.node][1]['x'].append(currentTime, gyr[0]);
    gyr_charts[msg.node][1]['y'].append(currentTime, gyr[1]);
    gyr_charts[msg.node][1]['z'].append(currentTime, gyr[2]);
    // angle[0] = angle[0] + gyr[0] * (currentTime - lastTime) / 1000
    // angle[1] = angle[1] + gyr[1] * (currentTime - lastTime) / 1000
    // angle[2] = angle[2] + gyr[2] * (currentTime - lastTime) / 1000
    angle = angle.map( (a,i) => a + gyr[i] * (currentTime - lastTime) / 1000)

    // TODO: compensate gyro drift with accelerometer
    // xAcc = Math.atan2(acc[1], acc[2]) * 180 / Math.PI
    // yAcc = Math.atan2(acc[0], acc[2]) * 180 / Math.PI
    // zAcc = Math.atan2(acc[0], acc[1]) * 180 / Math.PI
    // angle[0] = 0.98 * angle[0] + 0.02 * xAcc * 75 / 90
    // angle[1] = 0.98 * angle[1] + 0.02 * yAcc * 75 / 90
    // angle[2] = 0.98 * angle[2] + 0.02 * zAcc * 75 / 90

    lastTime = currentTime
    teapot.setAngle(angle.map(a => a * Math.PI / 150))
    // console.info(angle)
    // console.info(acc, xAcc, yAcc, zAcc)
}

function remove_charts(node) {
    if (node in acc_charsts) {
        delete acc_charts[node]
    }
    if (node in gyr_charts) {
        delete gyr_charts[node]
    }
    if (node in temp_charts) {
        delete temp_charts[node]
    }
    if (node in pres_charts) {
        delete pres_charts[node]
    }
    if (node in hum_charts) {
        delete hum_charts[node]
    }
}

function refresh_layout() {
    /* update masonry layout */
    var grid = document.querySelector('.grid');
    var msnry = new Masonry( grid, {
        itemSelector: '.grid-item:not(.grid-hidden)',
        fitWidth: true
    });
    msnry.layout()
}

function sendData(data) {
    ws.send(JSON.stringify(data))
}

$(document).on('change', '.led-btn', function() {
    var node = this.dataset.index
    var payload = "0"
    if($(this).is(':checked')) {
        payload = "1"
    }

    sendData({"node": node, path: "/led", "payload": payload})
})

function setRobotDirection(node, direction) {
    sendData({"node": node, path: "/robot", "payload": direction})
}

$('#selectTheme').change(function () {
    if ($(this).val() == 'dark') {
        $('body').addClass('dark')
    } else {
        $('body').removeClass('dark')
    }
})

$('#settingsModal').on('hide.bs.modal', function (e) {
    localStorage.setItem('theme', $('#selectTheme').val())
});

function print_ws_close_reason(code) {
    var reason;
    // See http://tools.ietf.org/html/rfc6455#section-7.4.1
    switch(code) {
    case 1000:
        reason = "Normal closure, meaning that the purpose for which the\
                  connection was established has been fulfilled.";
        break
    case 1001:
        reason = "An endpoint is \"going away\", such as a server going down\
                  or a browser having navigated away from a page.";
        break
    case 1002:
        reason = "An endpoint is terminating the connection due to a protocol\
                  error";
        break
    case 1003:
        reason = "An endpoint is terminating the connection because it has\
                  received a type of data it cannot accept (e.g., an endpoint\
                  that understands only text data MAY send this if it receives\
                  a binary message).";
        break
    case 1004:
        reason = "Reserved. The specific meaning might be defined in the\
                  future.";
        break
    case 1005:
        reason = "No status code was actually present.";
        break
    case 1006:
       reason = "The connection was closed abnormally, e.g., without sending\
                 or receiving a Close control frame";
        break
    case 1007:
        reason = "An endpoint is terminating the connection because it has\
                  received data within a message that was not consistent with\
                  the type of the message (e.g., non-UTF-8\
                  [http://tools.ietf.org/html/rfc3629] data within a text\
                  message).";
        break
    case 1008:
        reason = "An endpoint is terminating the connection because it has\
                  received a message that \"violates its policy\". This\
                  reason is given either if there is no other sutible\
                  reason, or if there is a need to hide specific details\
                  about the policy.";
        break
    case 1009:
       reason = "An endpoint is terminating the connection because it has\
                 received a message that is too big for it to process.";
        break
    case 1010:
        // Note that this status code is not used by the server,
        // because it can fail the WebSocket handshake instead.
        reason = "An endpoint (client) is terminating the connection because\
                  it has expected the server to negotiate one or more\
                  extension, but the server didn't return them in the\
                  response message of the WebSocket handshake. <br/>\
                  Specifically, the extensions that are needed\
                  are: " + event.reason;
        break
    case 1011:
        reason = "A server is terminating the connection because it\
                  encountered an unexpected condition that prevented it\
                  from fulfilling the request.";
        break
    case 1015:
        reason = "The connection was closed due to a failure to perform a\
                  TLS handshake (e.g., the server certificate can't be\
                  verified).";
        break
    default:
        reason = "Unknown reason";
    }
    console.log("Code: ", code, "\nReason:", reason)
}
</script>
<script src="{{ static_url('js/teapot.js') }}"></script>
</body>
</html>
