<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if favicon %}<link rel="icon" href="{{ favicon }}">{% end %}
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- FontAwesome -->
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('node_modules/font-awesome/css/font-awesome.min.css') }}">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('node_modules/bootstrap-material-design/dist/css/ripples.min.css') }}">

    <!-- Dropdown.js -->
    <link href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet">

    <!-- Javascript modules -->
    <script type="text/javascript"
            src="{{ static_url('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/bootstrap-material-design/dist/js/material.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/bootstrap-material-design/dist/js/ripples.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/masonry-layout/dist/masonry.pkgd.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/smoothie/smoothie.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/vue/dist/vue.min.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r82/three.min.js"></script>
    <script src="{{ static_url('js/TeapotBufferGeometry.js') }}"></script>
    <script src="{{ static_url('js/joystick.js') }}"></script>
    <script src="{{ static_url('js/helpers.js') }}"></script>

    <!-- IoT-Kit dashboard css -->
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/dashboard.css') }}">
</head>

<body>

<script>
var theme = localStorage.theme || 'dark';
var initMap = localStorage.showMap || 'true';
var initCam = localStorage.showCam || 'true';
var initCamUrl = localStorage.camUrl || "{{ camera_url }}";

if (theme == 'dark') {
    document.body.classList.add('dark')
}

var joystick = initJoystick()
</script>

<div id="app">
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if logo_url %}<img class="navbar-brand" src="{{ logo_url }}" style="margin-top: -3px">{% end %}
                <a class="navbar-brand" href="javascript:void(0)">{{ title }}</a>
            </div>
            <div class="navbar-collapse collapse navbar-inverse-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{! nodes.length }} {{! nodes.length>=2 ? 'nodes' : 'node' }} monitored
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li v-for="(node, index) in nodes">
                                <a :href="'#node'+index">
                                    <div class="checkbox" style="display: inline; margin-right: 5px;" @click.stop @change="Vue.nextTick(refresh_layout)">
                                        <label>
                                            <input type="checkbox" v-model="node.visible">
                                        </label>
                                    </div>
                                    {{! node.displayName() }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            Resources displayed
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li v-for="(resource, index) in resources">
                                <a :href="'#resource'+index">
                                    <div class="checkbox" style="display: inline; margin-right: 5px;" @click.stop @change="Vue.nextTick(refresh_layout)">
                                        <label>
                                            <input type="checkbox" v-model="resource.visible">
                                        </label>
                                    </div>
                                    {{! resource.name }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a data-toggle="modal" data-target="#settingsModal" href="">
                            <i class="material-icons" style="line-height: inherit">settings</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid"> -->
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item:not(.grid-hidden)", "fitWidth": "true" }'>
        <!-- Hack to avoid weird layout issues when playing with Map and Camera visibility -->
        <div class="grid-item">
        </div>
        <div class="grid-item" v-show="showCam">
            <!-- webcam -->
            <div class="panel panel-default" id="webcam">
                <div class="panel-heading">
                    <div class="pull-right">
                        <div class="btn-group">
                            <a href="" class="menu-btn btn btn-link dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-option-vertical text-muted" style="color: #333"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="li-text">
                                    <a href="{{ camera_url }}">Live Camera</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Use v-show for map to avoid recomputation -->
        <div class="grid-item" v-show="showMap">
            <!-- map -->
            <div class="panel panel-default">
                <div class="panel-body" id="map"></div>
            </div>
        </div>
        <div class="grid-item" v-for="(node, index) in nodes" v-show="node.visible">
            <div class="panel panel-default" :id="'node'+index">
                <div class="panel-heading">
                    <img class="node-icon" src="{{ static_url( 'assets/favicon192.png' ) }}" v-if="node.data.os == 'riot'">
                    <img class="node-icon" src="{{ static_url( 'assets/android-logo.png' ) }}" v-if="node.data.os == 'android'">
                    <img class="node-icon" src="{{ static_url( 'assets/python-logo.png' ) }}" v-if="node.data.os == 'micropython'">
                    {{! node.displayName() }}
                    <div class="pull-right">
                        <div class="btn-group" style="margin-bottom: 0">
                            <a href="" class="menu-btn btn btn-link dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-option-vertical text-muted"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <table class="inline-table">
                                    <tr v-if="node.data.os">
                                        <th>OS</th>
                                        <td>{{! node.data.os }}</td>
                                    </tr>
                                    <tr v-if="node.data.appid">
                                        <th>Application ID</th>
                                        <td>{{! node.data.appid }}</td>
                                    </tr>
                                    <tr v-if="node.data.version">
                                        <th>Version</th>
                                        <td>{{! node.data.version }}</td>
                                    </tr>
                                    <tr v-if="node.data.board">
                                        <th>Board</th>
                                        <td>{{! node.data.board }}</td>
                                    </tr>
                                    <tr v-if="node.data.mcu">
                                        <th>MCU</th>
                                        <td>{{! node.data.mcu }}</td>
                                    </tr>
                                    <tr v-if="node.data.ip">
                                        <th>IP</th>
                                        <td>{{! node.data.ip }}</td>
                                    </tr>
                                    <tr v-if="node.data.protocol">
                                        <th>Procotol</th>
                                        <td>{{! node.data.protocol }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body" v-if="node.data.position" v-show="resources.position.visible">
                    <div class="h5 text-muted">Position</div>
                    <div class="h4">Lat: {{!node.data.position.lat}}° &nbsp;- &nbsp;Lng: {{!node.data.position.lng}}°</div>
                </div>
                <div class="panel-body has-chart" v-if="node.data.temperature" v-show="resources.temperature.visible">
                    <div class="h5 text-muted">Temperature</div>
                    <div class="h1">{{!node.data.temperature}}</div>
                    <canvas class="chart" :id="'temp_chart'+node.uid"></canvas>
                </div>
                <div class="panel-body has-chart" v-if="node.data.pressure" v-show="resources.pressure.visible">
                    <div class="h5 text-muted">Pressure</div>
                    <div class="h1">{{!node.data.pressure}}</div>
                    <canvas class="chart" :id="'pres_chart'+node.uid"></canvas>
                </div>
                <div class="panel-body has-chart" v-if="node.data.humidity" v-show="resources.humidity.visible">
                    <div class="h5 text-muted">Relative humidity</div>
                    <div class="h1">{{!node.data.humidity}}</div>
                    <canvas class="chart" :id="'hum_chart'+node.uid"></canvas>
                </div>
                <div class="panel-body has-chart" v-if="node.data.illuminance" v-show="resources.illuminance.visible">
                    <div class="h5 text-muted">Illuminance</div>
                    <div class="h1">{{!node.data.illuminance}}</div>
                </div>
                <div class="panel-body" v-if="node.data.robot" v-show="resources.robot.visible">
                    <div class="h5 text-muted">BuggyBot Direction Pad</div>
                    <!-- <div class="h1">{{!node.data.robot}}</div> -->
                    <svg class="pad" width="370" viewBox="0 0 400 270" xmlns="http://www.w3.org/2000/svg">
                        <text text-anchor="middle" font-family="Helvetica, Arial, sans-serif" font-size="30" y="211" x="200" fill="firebrick">STOP</text>
                        <rect height="100" width="100" y="150" x="150" stroke="firebrick" fill="#f00" @click="setRobotDirection(node.uid, 's')"/>
                        <path d="m100,150l0,100l-75,-50z" stroke="rgb(0,150,136)" fill="rgb(0,150,136)" @click="setRobotDirection(node.uid, 'l')"/>
                        <path d="m300,150l0,100l75,-50z" stroke="rgb(0,150,136)" fill="rgb(0,150,136)" @click="setRobotDirection(node.uid, 'r')"/>
                        <path d="m150,100l100,0l-50,-75z" stroke="rgb(0,150,136)" fill="rgb(0,150,136)" @click="setRobotDirection(node.uid, 'u')"/>
                    </svg>
                </div>
                <div class="panel-body" v-if="node.data.ribot" v-show="resources.ribot.visible">
                    <div class="joystick"
                            @mouseup="joystick.stop"
                            @touchend="joystick.stop"
                            @mousemove.prevent="joystick.move"
                            @touchmove.prevent="joystick.move"
                            @mousedown.prevent="joystick.start(node.uid, $event)"
                            @touchstart.prevent="joystick.start(node.uid, $event)">
                        <div class="ball"></div>
                    </div>
                </div>
                <div class="panel-body" v-if="node.data.text" v-show="resources.text.visible">
                    <div class="h5 text-muted">Message</div>
                    <div class="h4">{{!node.data.text}}</div>
                </div>
                <div class="panel-body" v-if="node.data.twitter">
                    <div class="h1">{{!node.data.twitter}}</div>
                </div>
                <div class="panel-body" v-if="node.data.webcam" v-show="resources.webcam.visible">
                    <img width="370" height="278" :src="node.data.webcam"></img>
                </div>
                <div class="panel-body has-chart" v-if="node.data.imu" v-show="resources.imu.visible">
                    <div class="h5 text-muted">Accelerometer</div>
                    <canvas class="chart" :id="'imu_acc'+node.uid"></canvas>
                </div>
                <div class="panel-body has-chart" v-if="node.data.imu" v-show="resources.imu.visible">
                    <div class="h5 text-muted">Gyroscope</div>
                    <canvas class="chart" :id="'imu_gyr'+node.uid"></canvas>
                </div>
                <div class="panel-body" v-if="node.data.imu" v-show="resources.imu.visible">
                    <div id="teapot"></div>
                </div>
                <div class="panel-body" :id="'led'+index" v-if="['0','1'].includes(node.data.led)" v-show="resources.led.visible">
                    <div class="h5 text-muted">LED</div>
                    <div v-if="node.data.led === '1'" class="h1">ON <i class="fa fa-circle led-color"></i></div>
                    <div v-else class="h1">OFF <i class="fa fa-circle-thin led-color"></i></div>
                </div>
                <div class="panel-body" v-if="node.data.led" v-show="resources.led.visible">
                    <div class="togglebutton">
                        <label>
                            <input class="led-btn" type="checkbox" :data-index="node.uid" :checked="node.data.led === '1'">Toggle led
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="settingsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title">Settings</h2>
                </div>
                <div class="modal-body">
                    <div class="checkbox">
                        <label for="showMapCheckbox" class="control-label">
                            <input type="checkbox" id="showMapCheckbox" v-model="showMap" @change="Vue.nextTick(refresh_layout)">
                            Show nodes map
                        </label>
                    </div>
                    <div class="checkbox">
                        <label for="showCamCheckbox" class="control-label">
                            <input type="checkbox" id="showCamCheckbox" v-model="showCam" @change="Vue.nextTick(refresh_layout)">
                            Show live camera
                        </label>
                    </div>
                    <div class="form-group" style="margin: 0">
                        <label for="camUrlEdit" class="control-label">
                            Live camera url
                        </label>
                        <input type="text" class="form-control" id=camUrlEdit v-model="camUrl" rows="5">
                    </div>
                    <div class="form-group" style="margin: 0">
                        <label for="selectTheme" class="control-label">Theme</label>
                        <select id="selectTheme" class="form-control">
                            <option value="dark">Dark</option>
                            <option value="light">Light</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Google Map API v3 -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>

<script>
// Smoothie charts containers
var acc_charts = {}
var gyr_charts = {}
var temp_charts = {}
var pres_charts = {}
var hum_charts = {}
var teapot_charts = {}

function Resource(name, visible=true) {
    return {name: name, visible: visible}
}

var data = {
    resources: {
        led: Resource("LED"),
        temperature: Resource("Temperature"),
        pressure: Resource("Pressure"),
        humidity: Resource("Humidity"),
        illuminance: Resource("Illuminance"),
        uvindex: Resource("UV-Index"),
        imu: Resource("IMU"),
        text: Resource("Text"),
        position: Resource("Position"),
        webcam: Resource("Webcam"),
        buggybot: Resource("BuggyBot"),
        ribot: Resource("RiBot"),
        version: Resource("Version"),
    },
    nodes: [],
    showMap: initMap == "true",
    showCam: initCam == "true",
    camUrl: initCamUrl,
}

var vm = new Vue({
    el: '#app',
    data: data,
    methods: {
        humanizeURL: function (url) {
            return url
            .replace(/^https?:\/\//, '')
            .replace(/\/$/, '')
        }
    }
});

// For embedded google map
var map;
var map_bounds;
var map_markers = {};

// Webcam
update_live_camera_content(vm.camUrl, vm.showCam)

// initialize bootstrap material design
$.material.init()

var ws = new WebSocket('ws://{{ wsserver }}/ws')

ws.onopen = function() {
    console.log("WebSocket is ready")
    sendData("new", "client")
}
ws.onmessage = function(event) {
    let msg = JSON.parse(event.data)
    receive_message(msg)
}
ws.onclose = function(ev){
    console.log("WebSocket closed")
    print_ws_close_reason(ev.code)
}
ws.onerror = function(ev){
    console.log("WebSocket error", ev)
}

function Node(uid, data={}) {
    this.uid = uid
    this.data = data
    this.visible = true

    this.displayName = function() {
        // show temporary name while waiting for the node data
        if (Object.keys(this.data).length === 0)
            return 'Discovering node...'

        return this.data.name || 'Node'
    }
}

function receive_message(msg) {
    let node_uid = msg.uid
    let index = vm.nodes.map(e => e.uid).indexOf(node_uid)
    switch (msg.type) {
        case 'new':
            console.log("New node", node_uid)
            if (index == -1) {
                vm.nodes.push(new Node(node_uid))
            }
            break
        case 'out':
            if (index != -1) {
                console.log("Removing node", node_uid)
                vm.nodes.splice(index, 1)
            }
            remove_node_from_map(node_uid)
            remove_charts(node_uid)
            break
        case 'reset':
            console.log("Resetting node", index, node_uid)
            if (index != -1) {
                for (var key in vm.nodes[index].data) {
                    Vue.delete(vm.nodes[index].data, key)
                }
            }
            remove_node_from_map(node_uid)
            remove_charts(node_uid)
            break
        case 'update':
            if (index != -1) {
                let endpoint = msg.endpoint.replace(/^\//g, '') // remove leading slash

                var data = msg.data
                if (endpoint == 'position') {
                    try {
                        data = JSON.parse(msg.data)
                    }
                    catch(err) {}
                }
                // console.log("Updating node", node_uid, "with", endpoint, "data:", data)
                Vue.set(vm.nodes[index].data, endpoint, data) // same as vm.nodes[index].data[endpoint] = msg.data, but triggers UI update

                // force material UI refresh
                $.material.init()

                Vue.nextTick(_ => update_charts(msg))

                // update google map
                if (endpoint == "position") {
                    Vue.nextTick(_ => add_node_to_map(vm.nodes[index]))
                }
            }
            break
        default:
            console.log('Unknown command', msg.type)
            break
    }
    Vue.nextTick(refresh_layout)
}

function update_charts(msg) {
    // imu charts management
    if (msg.endpoint === "imu") {
        if (!(msg.uid in acc_charts)) {
            setup_imu_charts(msg.uid)
        }
        if (!(msg.uid in teapot_charts)) {
            setup_teapot_charts(msg.uid)
        }

        update_imu_charts(msg)
    }

    // temperature charts management
    if (msg.endpoint === "temperature") {
        if (!(msg.uid in temp_charts)) {
            setup_temp_charts(msg.uid)
        }

        update_temp_charts(msg)
    }

    // pressure charts management
    if (msg.endpoint === "pressure") {
        if (!(msg.uid in pres_charts)) {
            setup_pres_charts(msg.uid)
        }

        update_pres_charts(msg)
    }

    // humidity charts management
    if (msg.endpoint === "humidity") {
        if (!(msg.uid in hum_charts)) {
            setup_hum_charts(msg.uid)
        }

        update_hum_charts(msg)
    }
}

function setup_temp_charts(node_uid) {
    var temp_canva = document.getElementById('temp_chart' + node_uid)
    temp_canva.setAttribute('width', temp_canva.clientWidth)
    temp_canva.setAttribute('height', temp_canva.clientHeight)
    if (temp_canva) {
        temp_charts[node_uid] = [
            new SmoothieChart({ millisPerPixel:1000,
                                labels: {
                                    fillStyle:'#545454',
                                    precision:0
                                },
                                grid: {
                                    strokeStyle: 'transparent',
                                    fillStyle:'transparent',
                                    borderVisible:false,
                                    sharpLines:true
                                },
                                minValue: -15,
                                maxValue: 40
                            }),
            new TimeSeries()
        ]
        temp_charts[node_uid][0].addTimeSeries(temp_charts[node_uid][1], {
                strokeStyle: 'rgba(63, 167, 36, 1)',
                fillStyle: 'rgba(63, 167, 36, 0.2)',
                lineWidth: 1.5
            });
        temp_charts[node_uid][0].streamTo(temp_canva, 500);
    }
}

function update_temp_charts(msg) {
    temp_charts[msg.uid][1].append(new Date().getTime(), msg.data.slice(0, -2));
}

function setup_pres_charts(node_uid) {
    var pres_canva = document.getElementById('pres_chart' + node_uid)
    pres_canva.setAttribute('width', pres_canva.clientWidth)
    pres_canva.setAttribute('height', pres_canva.clientHeight)
    if (pres_canva) {
        pres_charts[node_uid] = [
            new SmoothieChart({ millisPerPixel:5000,
                                labels:{
                                    fillStyle:'#545454',
                                    precision:0},
                                    grid:{
                                        strokeStyle: 'transparent',
                                        fillStyle:'transparent',
                                        borderVisible:false,
                                        sharpLines:true
                                    },
                                    minValue: 950,
                                    maxValue: 1030
                                }),
            new TimeSeries()
        ]
        pres_charts[node_uid][0].addTimeSeries(pres_charts[node_uid][1], {
                strokeStyle: 'rgba(63, 167, 36, 1)',
                fillStyle: 'rgba(63, 167, 36, 0.2)',
                lineWidth: 1.5
            });
        pres_charts[node_uid][0].streamTo(pres_canva, 500);
    }
}

function update_pres_charts(msg) {
    pres_charts[msg.uid][1].append(new Date().getTime(), msg.data.slice(0, -3));
}

function setup_hum_charts(node_uid) {
    var hum_canva = document.getElementById('hum_chart' + node_uid)
    hum_canva.setAttribute('width', hum_canva.clientWidth)
    hum_canva.setAttribute('height', hum_canva.clientHeight)
    if (hum_canva) {
        hum_charts[node_uid] = [
            new SmoothieChart({
                millisPerPixel:5000,
                labels:{
                    fillStyle:'#545454',
                    precision:0},
                    grid:{
                        strokeStyle: 'transparent',
                        fillStyle:'transparent',
                        borderVisible:false,
                        sharpLines:true },
                        minValue:0,
                        maxValue:100
                    }),
            new TimeSeries()
        ]
        hum_charts[node_uid][0].addTimeSeries(hum_charts[node_uid][1], {
            strokeStyle: 'rgba(0, 142, 255, 1)',
            fillStyle: 'rgba(0, 142, 255, 0.2)',
            lineWidth: 1.5
        });
        hum_charts[node_uid][0].streamTo(hum_canva, 500);
    }
}

function update_hum_charts(msg) {
    hum_charts[msg.uid][1].append(new Date().getTime(), msg.data.slice(0, -3));
}

function setup_teapot_charts(node_uid) {
    teapot_charts[node_uid] = node_uid
    teapot.init()
    teapot.render()
    $('#teapot').addClass('pointer').click(function() {
        angle = [0, 0, 0]
        teapot.setAngle(angle)
    })
}

function setup_imu_charts(node_uid) {
    var acc_canva = document.getElementById('imu_acc' + node_uid)
    acc_canva.setAttribute('width', acc_canva.clientWidth)
    acc_canva.setAttribute('height', acc_canva.clientHeight)
    if (acc_canva) {
        acc_charts[node_uid] = [
            new SmoothieChart({
                grid:{
                    fillStyle:'transparent',
                    strokeStyle:'#eee',
                    borderVisible:false,
                    sharpLines:true
                },
                labels: {
                    disabled: true
                },
                minValue: 0,
                maxValue: 5000
            }),
            new TimeSeries()
        ]
        acc_charts[node_uid][0].addTimeSeries(acc_charts[node_uid][1], {
            strokeStyle: 'rgba(63, 167, 36, 1)',
            fillStyle: 'rgba(63, 167, 36, 0.2)',
            lineWidth: 1.5
        });
        acc_charts[node_uid][0].streamTo(acc_canva, 500);
    }

    var gyr_canva = document.getElementById('imu_gyr' + node_uid)
    gyr_canva.setAttribute('width', gyr_canva.clientWidth)
    gyr_canva.setAttribute('height', gyr_canva.clientHeight)
    if (gyr_canva) {
        gyr_charts[node_uid] = [
            new SmoothieChart(
                {
                    grid:{
                        fillStyle:'transparent',
                        strokeStyle:'#eee',
                        borderVisible:false,
                        sharpLines:true
                    },
                    labels:{
                        disabled: true
                    },
                    minValue: -800,
                    maxValue: 800
                }),
                {
                    'x': new TimeSeries(),
                    'y': new TimeSeries(),
                    'z': new TimeSeries()
                }
            ]
        gyr_charts[node_uid][0].addTimeSeries(gyr_charts[node_uid][1]['x'], {
            strokeStyle: 'rgba(189, 32, 44, 1)',
            fillStyle: 'rgba(189, 32, 44, 0.1)',
            lineWidth: 1.5
        });
        gyr_charts[node_uid][0].addTimeSeries(gyr_charts[node_uid][1]['y'], {
            strokeStyle: 'rgba(63, 167, 36, 1)',
            fillStyle: 'rgba(63, 167, 36, 0.1)',
            lineWidth: 1.5
        });
        gyr_charts[node_uid][0].addTimeSeries(gyr_charts[node_uid][1]['z'], {
            strokeStyle: 'rgba(3, 169, 244, 1)',
            fillStyle: 'rgba(3, 169, 244, 0.1)',
            lineWidth: 1.5
        });
        gyr_charts[node_uid][0].streamTo(gyr_canva, 500);
    }
}

var angle = [0, 0, 0]
var lastTime = new Date().getTime()

function update_imu_charts(msg) {
    var currentTime = new Date().getTime()
    var data = JSON.parse(msg.data)
    var acc = data[0].values
    var gyr = data[1].values
    var accNorm = Math.sqrt(Math.pow(acc[0], 2) +
                            Math.pow(acc[1], 2) +
                            Math.pow(acc[2], 2))
    acc_charts[msg.uid][1].append(currentTime, accNorm);
    gyr_charts[msg.uid][1]['x'].append(currentTime, gyr[0]);
    gyr_charts[msg.uid][1]['y'].append(currentTime, gyr[1]);
    gyr_charts[msg.uid][1]['z'].append(currentTime, gyr[2]);
    // angle[0] = angle[0] + gyr[0] * (currentTime - lastTime) / 1000
    // angle[1] = angle[1] + gyr[1] * (currentTime - lastTime) / 1000
    // angle[2] = angle[2] + gyr[2] * (currentTime - lastTime) / 1000
    angle = angle.map( (a,i) => a + gyr[i] * (currentTime - lastTime) / 1000)

    // TODO: compensate gyro drift with accelerometer
    // xAcc = Math.atan2(acc[1], acc[2]) * 180 / Math.PI
    // yAcc = Math.atan2(acc[0], acc[2]) * 180 / Math.PI
    // zAcc = Math.atan2(acc[0], acc[1]) * 180 / Math.PI
    // angle[0] = 0.98 * angle[0] + 0.02 * xAcc * 75 / 90
    // angle[1] = 0.98 * angle[1] + 0.02 * yAcc * 75 / 90
    // angle[2] = 0.98 * angle[2] + 0.02 * zAcc * 75 / 90

    lastTime = currentTime
    teapot.setAngle(angle.map(a => a * Math.PI / 150))
    // console.info(angle)
    // console.info(acc, xAcc, yAcc, zAcc)
}

function remove_charts(node_uid) {
    if (node_uid in acc_charts) {
        delete acc_charts[node_uid]
    }
    if (node_uid in gyr_charts) {
        delete gyr_charts[node_uid]
    }
    if (node_uid in temp_charts) {
        delete temp_charts[node_uid]
    }
    if (node_uid in pres_charts) {
        delete pres_charts[node_uid]
    }
    if (node_uid in hum_charts) {
        delete hum_charts[node_uid]
    }
}

function refresh_layout() {
    /* update masonry layout */
    var grid = document.querySelector('.grid');
    var msnry = new Masonry( grid, {
        itemSelector: '.grid-item:not(.grid-hidden)',
        fitWidth: true
    });
    msnry.layout()
}

function sendData(type, data) {
    ws.send(JSON.stringify({"type": type, "data": data}))
}

$(document).on('change', '.led-btn', function() {
    var node_uid = this.dataset.index
    var payload = "0"
    if($(this).is(':checked')) {
        payload = "1"
    }

    sendData("update",
             {"uid": node_uid, "endpoint": "led", "payload": payload})
})

function setRobotDirection(node_uid, direction) {
    sendData("update",
             {"uid": node_uid, "endpoint": "robot", "payload": direction})
}

$('#selectTheme').change(function () {
    if ($(this).val() == 'dark') {
        $('body').addClass('dark')
    } else {
        $('body').removeClass('dark')
    }
})

$('#settingsModal').on('hide.bs.modal', function (e) {
    localStorage.setItem('theme', $('#selectTheme').val())
    localStorage.setItem('showMap', vm.showMap ? 'true': 'false')
    localStorage.setItem('showCam', vm.showCam ? 'true': 'false')
    localStorage.setItem('camUrl', vm.camUrl)

    if (vm.showMap) {
        google.maps.event.trigger(map, 'resize');
        map.fitBounds(map_bounds);
    }

    update_live_camera_content(vm.camUrl, vm.showCam)
});

function update_live_camera_content(url, visible) {
    if (visible) {
        $('#webcam').css("background-image", "url(" + url + ")");
    }
    else {
        $('#webcam').css("background-image", "url({{ static_url('assets/video-icon.svg') }})");
    }
}

function initialize_map() {
    var inriaLatLng = {lat: 48.7146403, lng: 2.2056539}
    map_bounds = new google.maps.LatLngBounds();
    map = new google.maps.Map(document.getElementById("map"), {
        mapTypeControl: false,
        streetViewControl: false,
        maxZoom: 17,
        zoom: 17,
        center: inriaLatLng
    });
}

initialize_map();

function add_node_to_map(node) {
    var riot_logo = "{{ static_url('assets/favicon192.png') }}"
    var logo_string = ""
    if (node.data.os == "riot") {
        logo_string = '<span><img class="map-icon" src="' + riot_logo + '"></img></span>'
    }
    var nodeString =
        '<div id="content">' +
            '<div id="bodyContent">' +
                '<div id="map_label">' + logo_string + '<span>' + node.data.name + '</span></div>' +
            '</div>'
        '</div>';

    var nodeWindow = new google.maps.InfoWindow({
        content: nodeString,
        maxWidth: 250
    });

    map_markers[node.uid] = new google.maps.Marker({
        position: node.data.position,
        map: map,
        title: node.data.name
    });

    map_markers[node.uid].addListener('click', function() {
        nodeWindow.open(map, map_markers[node.uid]);
    });

    map_bounds.extend(map_markers[node.uid].position);
    map.fitBounds(map_bounds);
}

function remove_node_from_map(node_uid) {
    if (node_uid in map_markers) {
        map_markers[node_uid].setMap(null);
        delete map_markers[node_uid]
    }
}
</script>
<!-- Dropdown.js -->
<script src="https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>
<script>
$("#settingsModal select").dropdown();
</script>
<script src="{{ static_url('js/teapot.js') }}"></script>
</body>
</html>
